@import './lib/vue-form-generator/styles';

body {
    margin: 0;
    padding: 0;
}

#app {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #eee;
}

webview {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #ccc;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 5px;
    }
}

section {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
}

footer {
    display: none;
}

.A-form-new {
    width: 100%;
    height: 100%;
    .a-container {
        padding: 20px;
    }
    fieldset {
        margin: 20px;
        border: none;
        color: #fff;
    }
    fieldset.vue-form-generator .form-group {
        max-width: 300px;
    }
}

//
// Tabs
//

.A-main-tabs {
    .a-tabs {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 25px;
        li {
            float: left;
        }
        .a-tab {
            &.a-active {
                font-weight: bold;
                background: #fee;
            }
        }
        .a-content {
            display: none;
        }
    }
    .a-contents,
    .a-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


@import '../views/layout_selector/styles';
@import '../views/main_tabs/styles';
