<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link type="text/css" rel="stylesheet" href="http://golden-layout.com/assets/css/goldenlayout-base.css" />
  <link type="text/css" rel="stylesheet" href="http://golden-layout.com/assets/css/goldenlayout-dark-theme.css" />
</head>
<body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://golden-layout.com/assets/js/goldenlayout.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>
